*{
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppins',sans-serif;
}
body{
    overflow-x: hidden;
}
.nav-bar{
    width: 100vw;
    min-height:10vh;
}
.search-bar-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 8vh;
    width: 15%;
left: 27%;
    margin-top: -0.6%;
}
#searchBox{
    border-radius: 55px;
    background-color: #b8baf5;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15)
        -6px -6px 10px -1px rgba(255,255,255,0.7);
}
input{
   font-size: 16px;
    border: 0;
    background: transparent;
    width: 0px;
    outline: none;
    transition: 1s;
}
.active input{
    width: 200px;
}
.active searchIcon{
    width: 200px;
}
.nav-bar ul a li{
    position: relative;
    display: inline-block;
    padding-right: 1.5em;
    left: 30%;
    top: 1.8em;
    vertical-align: middle;
    font-size: 1.1em;
    color: black;
}
.nav-bar ul a li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #595c97;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-bar ul a li:hover::after{
    width: 100%;
}
.nav-bar ul img{
    position: absolute;
    width:5em;
    top: 2%;
    left: 23%;
}
.sub-menu{
    z-index: 5;
    position: absolute;
    left: 34.5%;
    top: 7%;
    text-decoration: none;
    box-sizing: border-box;
    display: none;
    background-color: white;
    border-radius: 0.5em;
    height: 170px;
    text-align: left;
}
span:hover .sub-menu{
    display: block;
    position: absolute;
}
.sub-menu ul li{
    position: relative;
    list-style: none;
    padding:6px;
    margin-top:  15%;
}
.sub-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.sub-menu ul li a::after{
     content: '';
    width: 0%;
    height: 2px;
    background: #595c97;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.sub-menu ul li a:hover::after{
    width: 100%;
}
.fa-magnifying-glass{
    
}
.fa-magnifying-glass:hover{
    cursor: pointer;
}
.illistration-container{
    width: 90vw;
    height: 70vh;
    background-image: linear-gradient(0deg,rgba(86,88,148,255),rgba(182,183,242,255));
    z-index: 0;
}
.purple-inner-box{
    position: absolute;
    width: 10em;
    height: 10em;
    left: 55%;
    top: 15.94%;
    background-color: black;
    z-index: 3;
    border-bottom-left-radius: 5em;
    background-image: linear-gradient(0deg,rgba(88,90,150,255),rgba(116,118,177,255));
}
.white-box{
    position: absolute;
    width: 50vw;
    height: 12em;
    background-color: white;
    top: 15.94%;
    border-top-right-radius: 5em;
    z-index: 1;
}
.white-box h2{
    position: relative;
    right: 8%;
    font-size: 32px;
    text-align: center;
    top:20%;
    color: rgba(85,187,153,255);
}
.white-box p{
    position: relative;
    text-align: left;
    left: 8% ;
    width: 27em;
    top:35%;
}
.white-box button{
    position: relative;
    left: 30%;
    top:50%;
    width: 12em;
    height: 2.5em;
    border-radius: 2em;
    background-color:rgba(225,96,54,255);
    color: white;
    border: none;
    font-weight: 600;
}
.white-box button:hover{
    cursor: pointer;
    background-color:rgba(225,96,54,0.6);
}
.green-accent{
    position: relative;
    width: 20em;
    height: 1.5em;
    margin-top: 0.5em;
    background-image: linear-gradient(90deg,rgba(85,187,153,255),#fff);
    border-radius: 2em;
        top:20%;
}
.small-white-box{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: white;
    z-index: 2;
    left: 55%;
    top: 19.7%;
}
.first-section{
    position: relative;
    height: 300vh;
    width: 100vw;
    /*overflow-x: hidden;*/
}


.sticky-container{
    position:sticky;
    margin-top: 2.5em;
    top: 150px;
    height: 25em;
    width: 20em;
    background-color: rgba(242,242,243,255);
    left: 60%;
    z-index: 100;
    border-radius: 2em;
    border: 2px solid rgba(116,118,177,255);
    box-shadow: 6px 10px 10px -10px black;
}
.sticky-container h3{
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    
}
.sticky-container ul{
    list-style: none;
    margin-top: 3em;
    
}
.sticky-container ul li{
    padding-bottom: 1.5em;
}
.sticky-container ul li a{
    text-decoration: none;
    color: black;
    margin-left: 2.5em;
    margin-top: 1em;
    
}
.sticky-container-accent{
    position: absolute;
    top: 3.5em;
    height: 2px;
    width: 100.5%;
    background-color: rgba(116,118,177,255);
}
.main-column{
    position: absolute;
    height: 150vh;
    width: 38%;
    left: 20%;
    top: 35%;
    background-color: white;
}
.quick-start-container{
    width: 100%;
    height: 25%;
    background-color: white;
}
.quick-start-container h2{
    text-align: right;
    font-size: 32px;
    color: rgba(88,90,150,255);
}
.quick-start-accent{
    position: relative;
    left: 8.5em;
    width: 20em;
    height: 1.5em;
    margin-top: 0.5em;
    border-radius: 2em;
    background-image: linear-gradient(90deg,rgba(255,255,255,255),rgba(116,118,177,255));
}
.icon1{
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color:rgba(225,96,54,255);
    display: inline-block;
     left:2%;
    transition: 0.5s;
}
.icon1:hover{
    transform: rotateY(180deg);
}
.icon2{
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color:rgba(225,96,54,255);
    display: inline-block;
    left:2%;
    margin-left: 3.5em;
}
.icon3{
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color:rgba(225,96,54,255);
    display: inline-block;
     left:2%;
   margin-left: 3.5em;
}
.icon4{
    position: relative;
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background-color:rgba(225,96,54,255);
    display: inline-block;
    left:2%;
    margin-left: 3.5em;
    margin-top: 2em;
}
.quick-start-container i{
    position: absolute;
    margin: auto;
    font-size: 50px;
}
.fa-thumbs-up{
    color: white;
    left: 25%;
    top: 20%;
    transition: 0.5s;
}
.fa-seedling{
    color: white;
    left: 25%;
    top: 22%;
}
.fa-award{
    color: white;
    left: 30%;
    top: 22%;
    font-size: 54px;
}
.fa-graduation-cap{
    color: white;
    left: 18%;
    top: 22%;
}
.perfect-career-container{
    width: 100%;
    height: 35%;
    background-color: white;
}
.perfect-career-container h2{
    position: relative;
    font-size: 32px;
    left: 2%;
    top: 10%;
    color: rgba(85,187,153,255); 
}
.perfect-career-accent{
    position: relative;
    width: 25em;
    height: 1.5em;
    margin-left: 2%;
    margin-top: 3em;
    background-image: linear-gradient(90deg,rgba(85,187,153,255),#fff);
    border-radius: 2em;
}
.perfect-qual-accent{
    position: relative;
    width: 28em;
    height: 1.5em;
    margin-left: 16%;
    margin-top: 3em;
    background-image: linear-gradient(90deg,rgba(255,255,255,255),rgba(116,118,177,255));
    border-radius: 2em;
}
.career-content-container{
    position: relative;
    margin-top: 1.5em;
    margin-left: 2%;
    height: 60%;
    width: 90%;
    background-color: white;
    border-radius: 1em;
    border-left: 3px solid rgba(85,187,153,0.7);
    border-bottom: 3px solid rgba(85,187,153,0.7);
    border-top: 3px solid rgba(85,187,153,1);
    border-right: 3px solid rgba(85,187,153,0.6);
    box-shadow: 6px 10px 10px -10px black;
}
.qual-content-container{
    position: relative;
    margin-top: 1.5em;
    margin-left: 2%;
    height: 60%;
    width: 90%;
    background-color: white;
    border-radius: 1em;
    border-left: 3px solid rgba(85,187,153,0.7);
    border-bottom: 3px solid rgba(85,187,153,0.7);
    border-top: 3px solid rgba(85,187,153,1);
    border-right: 3px solid rgba(85,187,153,0.6);
    transform: rotateY(180deg);
    box-shadow: 6px 10px 10px -10px black;
}
.left-side-container{
    position: relative;
    height: 100.5%;
    width: 65%;
    margin-left: 0;
    border-radius: 1em;
    background-color: white;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(-45deg,rgba(88,90,150,255),rgba(116,118,177,255));
}
.left-side-container-qual{
    position: relative;
    height: 100.5%;
    width: 65%;
    margin-left: 0;
    border-radius: 1em;
    background-color: white;
    border-top-right-radius:0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(-45deg,rgba(88,90,150,255),rgba(116,118,177,255));
}
.left-qual-title{
    position: absolute;
    top: 40%;
    left: 3%;
    font-weight: 300;
    z-index: 4;
}
.left-qual-title2{
    position: absolute;
    top: 40%;
    left: 20%;
    font-weight: 300;
    z-index: 4;
    transform: rotateY(180deg);
}
.qual-title-banner{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgba(247,244,244,0.4);
    top: 40%;
    z-index: 0;
}
.qual-title-banner2{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgba(247,244,244,0.4);
    top: 40%;
    z-index: 0;
}
.qual-title-banner i{
    position: relative;
    left:67%; 
    top: 20%;
    font-size: 30px;
    color:rgba(225,96,54,255);
}
.qual-title-banner2 i{
    position: relative;
    left:6%; 
    top: 20%;
    font-size: 30px;
    color:rgba(225,96,54,255);
    transform: rotateY(180deg);
}
.qual-title-banner2 i:hover{
    cursor: pointer;
    color:rgba(225,96,54,0.6);
}
.qual-title-banner i:hover{
    cursor: pointer;
    color:rgba(225,96,54,0.6);
}
.right-side-container{
    position: relative;
    height: 100%;
    width: 35%;
    margin-right: 0;
    margin-top:-43.9%;
    background-color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.right-side-container2{
    position: relative;
    height: 100%;
    width: 35%;
    margin-right: 0;
    margin-top:-43.9%;
    background-color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.right-side-container button{
    position: relative;
    top: 70%;
    left: 0%;
    z-index: 5;
    width: 12em;
    height: 2.5em;
    border-radius: 2em;
    background-color:rgba(225,96,54,255);
    color: white;
    border: none;
    font-weight: 600;
}
.right-side-container2 button{
    position: relative;
    top: 70%;
    left: 0%;
    z-index: 5;
    width: 12em;
    height: 2.5em;
    border-radius: 2em;
    background-color:rgba(225,96,54,255);
    color: white;
    border: none;
    font-weight: 600;
    transform: rotateY(180deg);
}
.right-side-container button:hover{
    cursor: pointer;
    background-color:rgba(225,96,54,0.6);
}
.right-side-container2 button:hover{
    cursor: pointer;
    background-color:rgba(225,96,54,0.6);
}
.right-qual-title{
    position: absolute;
    width: 65%;
    font-weight: 600;
    top: 10%;
    left: 90%;
    z-index: 5;
    font-size: 18px;
}
.right-qual-title2{
    position: absolute;
    width: 65%;
    font-weight: 600;
    top: 10%;
    left: 80%;
    z-index: 5;
    font-size: 18px;
    transform: rotateY(180deg);
}
.middle-slice{
    position: absolute;
    height: 117%;
    width: 2px;
    background-color: rgba(85,187,153,255);
    top: -8%;
    left: 52%;
    transform: rotate(-30deg)
}
.middle-block{
    position: absolute;
    height: 10%;
    width: 30px;
    background-color: white;
    top: -8%;
    left:39.6%;
    transform: rotate(-30deg);
}
.middle-block2{
    position: absolute;
    height: 5%;
    width: 60%;
    background-color: white;
    top: -3%;
    left:43%;
}
.middle-block3{
    position: absolute;
    height: 115%;
    width: 23%;
    background-color: white;
    top: -20%;
    left:51%;
    transform: rotate(-30deg);
    border-top-right-radius: 10em 50%;
}
.the-right-qual-container{
        width: 100%;
    height: 35%;
    background-color: white;
}
.the-right-qual-container h2{
    position: relative;
    text-align: right;
    font-size: 32px;
    color: rgba(88,90,150,255);
    top: 9%;
    right: 7%;
}
.google-map{
    position: absolute;
    margin: auto;
    top: 110%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    left: 2.5%;
    height: 30%;
    width: 90%;
    border-radius: 1em;
}
.google-map iframe{
    max-width: 100%;
    max-height: 100%;
    border-radius: 1em;
    border: 2px solid;
}
.google-title{
    position: absolute;
    top: 101%;
    left: 3%;
    font-size: 32px;
    color: rgba(85,187,153,255); 
}
.google-accent{
    position: absolute;
    width: 27em;
    height: 1.5em;
    margin-left: 3%;
    margin-top: 7em;
    background-image: linear-gradient(90deg,rgba(85,187,153,255),#fff);
    border-radius: 2em;
}
.drop-list{
    position: absolute;
    width: 120%;
    z-index: 5;
    background-color: blanchedalmond;
    margin: auto;
    font-size: 12px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    left:-16%;
}
.drop-list li{
    position:absolute;
    margin-left: -20%;
    margin-top: 10%;
    margin-bottom: 15%;
    display: flex;
    width: 110%;
    font-size: 12px;
    text-align: left;
   
}




